
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme{

  --color-normalbg:#f3f4f6;
  --color-darkbg:#1e2939;
  --color-light:#DDD6FE;
  --color-lighter:#F5F3FF;
  --color-primary:#5B21B6;
  --font-primary: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--font-primary);
}


